numpy
groq
asgiref
beautifulsoup4
Django
dnspython
faiss-cpu
pydantic
pymongo
python-dotenv
selenium
sentence-transformers
urllib3
webdriver-manager
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
whitenoise
psycopg2-binary